nav {
  background-color: var(--darkest);
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav > a {
  color: var(--lightest);
  font-size: 32px;
  font-weight: 600;
}

img.logo {
  width: 50px;
}