body {
  background-color: var(--bg-secondary);
}


.page-container {
  min-height: calc(100vh - 65px);
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;
}

a {
  text-decoration: none;
}

